* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html{
  /* font-size: 10px; */
  font-size:  65%;
}
.body {
  height: 90rem;
  width: 100%;
  position: relative;
  background-color: seashell;
  font-size: 1.5rem;

}
.col1 {
  height: 100%;
  width: 40%;
  background-color: #f2d2bd;
  float: left;
}
.col2 {
  height: 100%;
  width: 60%;
  background-color: seashell;
  float: left;
}
.body .mainbox {
  height: 60%;
  width: 60%;
  background-color: purple;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-left: 15%;
}
.mainboxcol1 {
  height: 100%;
  width: 50%;
  background-color: #c9a9a6;
  float: left;
  box-shadow: -1rem 1rem 2rem 0.2rem gray;
}
.mainboxcol2 {
  height: 100%;
  width: 50%;
  background-color: seashell;
  float: left;
}
div.image {
  height: 20rem;
  width: 20rem;
  border-radius: 20rem;
  /* margin-left: 25%;  */
  margin: 0 auto;
  background-image: url("shree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#btn{
  margin-top: 10%;
}
.name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 7%;
  text-align: center;

}
hr {
  height: 0.05rem;
  width: 20%;
  margin-top: 7%;
  margin-left: 40%;
  background-color: black;
  border-color: black;
}
.job {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 8%;
  text-align: center;
}
.iconbar {
  height: 10%;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.fa {
  padding: 2rem;
  font-size: 3rem;
  width: 2.5rem;
  text-align: center;
  text-decoration: none;
}
.fa-facebook,
.fa-instagram,
.fa-snapchat,
.fa-twitter,
.fa-pinterest {
  color: black;
}
.fa:hover {
  opacity: 0.7;
}
.info1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6rem;
  margin: 2rem;
}
.info2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  margin: 2rem;
}
.button {
  height: 17%;
  width: 90%;
  margin: 2rem;
  padding: 0.5rem;
  display: inline-block;
}
button {
  height: 5rem;
  width: 16rem;
  margin-top: 5%;
  border-radius: 5rem;
  font-size: 1.5rem;
  background-color: #ffe4c4;
  border: transparent;
  transition: 0.6s ease;
  outline: none;
}
button:hover {
  background-color: #c9a9a6;
  color: black;
  cursor: pointer;
}
.para {
  margin: 2rem;
  font-size: larger;
}

@media(max-width: 998px){
  html{
      font-size: 55%;
  }
  .para{
      margin-top: 3rem;
  }
  .mainboxcol1 .iconbar a.fa.fa{
      padding: 0.9rem;
    }


}
@media(max-width: 768px){
  html{
      font-size: 45%;
  }
  a.fa.fa{
      padding: 0.3rem;
    }
  .para{
      margin-top: 4rem;
  }
}

@media (min-width: 320px) and (max-width: 481px){
 
  .para{
      margin-top: 3rem;
  }
  .mainboxcol1 .iconbar a.fa.fa{

      padding: 1.5rem;
    }
    body {
      font-size: 1.2rem;
    }
    .header {
      padding: 0.5px;
    }
    .content {
      padding: 0.5px;
    }
    #btn.image{
      height: 15rem;
      width: 15rem;
    }

}