html{
  /* font-size: 10px; */
  font-size:  65%;
}
.toprow {
  height: 10rem;
  width: 100%;
  background-color: seashell;
}
.topleft {
  height: 100%;
  width: 50%;
  float: left;
}
.topleft p {
  padding-top: 5%;
  padding-left: 10%;
  font-size: 3rem;
}

#title{
  display: inline-block;
  font-size: 2rem;

}

.topright {
  float: right;
  height: 100%;
  width: 50%;
}
.topright ul {
  padding-top: 3%;
  padding-left: 30%;
}
.topright ul li {
  display: inline-block;
  /* float: left; */
  padding: 2rem;
  font-size: 2rem;
  background-position: right bottom;
}

.topright ul li:hover {
  background-color: #c9a9a6;
  background: linear-gradient(to right, #c9a9a6 50%, seashell 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: black;
  transition: 1s ease;
}
a {
  color: black;
  text-decoration: none;
}


.fa {
  padding: 2.2rem;
  font-size: 3rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
}
.fa-facebook,
.fa-instagram,
.fa-snapchat,
.fa-twitter,
.fa-pinterest {
  color: black;
}
.fa:hover {
  opacity: 0.7;
}
.bottomrow {
  height: 10rem;
  width: 100%;
  background-color: seashell;
  font-size: 2rem;
}
.bottomleft {
  height: 100%;
  width: 50%;
  float: left;
}
.bottomleft p {
  padding-left: 10%;
  padding-top: 5%;
}
.bottomright {
  height: 100%;
  width: 50%;
  float: right;
  text-align: center;
}
.bottomright .bcol1,
.bcol2,
.bcol3 {
  height: 100%;
  width: 33%;
  float: left;
}
.bottomright .bcol1 p,
.bcol2 p,
.bcol3 p {
  padding-top: 15%;
}
.bcol3 .fa {
  padding: 0.3rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}
.bcol3 .fa:hover {
  background-color: black;
  color: whitesmoke;
}
::-webkit-scrollbar {
  width: 0;
}
#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  z-index: 1;
}
#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 1rem;
  background: linear-gradient(to top, black, gray);
  z-index: 1;
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, gray);
}
#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, gray);
}



@media(max-width: 998px){
  html{
      font-size: 55%;
  }
  .topleft{
    width: 45%;
  }
  .topleft p{
    padding-left: 3%;
    /* font-size: 2.5rem; */
  }
  .topleft #title{
    font-size: 1.7rem;
  }
  .topright{
    width: 55%;
  }
  .topright ul{
    padding-left: 20%;
    padding-top: 2.5rem;
  }
  .topright ul li{
    padding: 1rem;
   
  }

  .bottomleft{
    width: 35%;
  }
  .bottomright{
    width: 65%;
  }
  .bottomright .bcol1 p, .bcol2 p, .bcol3 p {
    padding-top: 5%;
}
  .bcol3 a.fa.fa{
    padding: 0;
  }


}
@media(max-width: 768px){
  html{
      font-size: 45%;
  }
  .topright ul{
    padding-left: 15%;
  }
  .topright ul li{
    padding: 1rem;
   
  }
  .bcol3 a.fa.fa-pinterest, .bcol3 a.fa.fa-snapchat{
    display: none;
  }

}

@media (min-width: 320px) and (max-width: 481px){

  html{
    font-size: 40%;
}
 .topleft p{
margin-top: 1.5rem;
font-size: 2.1rem;
}
.topleft #title{
font-size: 1.5rem;
}
.topright ul{
margin-top: 1rem;


}
.topright ul li{
padding: 0.5rem;
font-size: 1.8rem;
}

.bottomleft{
  width: 30%;
}
.bottomright{
  width: 70%;
}
     .bcol3 a.fa.fa-pinterest, .bcol3 a.fa.fa-snapchat{
  display: none;
}

}
