* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 
}
.main {
  padding: 20%;
  padding-top: 10%;
  background-color: #c9a9a6;
}
h1 {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}
#text {
  float: left;
  font-size: 25px;
}
button {
  margin-top: -18px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  float: right;
  border-radius: 40px;
  font-size: 15px;
  background-color: seashell;
  border: transparent;
  transition: 0.6s ease;
  outline: none;
}
button:hover {
  background-color: #c9a9a6;
  color: whitesmoke;
  border: 2px dotted whitesmoke;
  cursor: pointer;
}
.row {
  height: 350px;
  width: 100%;
  background-color: seashell;
  margin-top: 75px;
  box-shadow: -10px 10px 20px 2px gray;
}
.lcol {
  float: left;
  width: 45%;
}
.lcol strong {
  font-size: 20px;
}
.lcol p {
  padding: 15%;
  padding-top: 20%;
}
.rcol {
  height: 100%;
  width: 55%;
  float: right;
}
.rcol p {
  padding: 10%;
  padding-top: 21%;
  font-size: 18px;
  text-align: left;
}

.lastrow{
  height: 500px;
  width: 100%;
  background-color: seashell;
  margin-top: 75px;
  margin-bottom: -75px;
  box-shadow: -10px 10px 20px 2px gray;
 
}

#lasttext{
  font-size: 25px;
  margin: 7%;
}

.list {
   display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    margin-left: 9%;
}
li{
   padding: 10px;
   list-style: square;
}